{% extends 'user/base.html' %}
{% block page_title %}
    <span class="navbar-page-title"> 修改密码 </span>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for msg in messages %}
                                    <div class="alert alert-warning">
                                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                                        {{ msg }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                        <form class="form-horizontal" action="#" method="post">
                            <div class="form-group">
                                {{ form.username.label(class="col-md-2 control-label") }}
                                <div class="col-md-8">
                                    {{ form.username(class='form-control',placeholder="用户名",disabled='disabled') }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="col-md-2 control-label") }}
                                <div class="col-md-8">
                                    {{ form.password(class='form-control',placeholder="输入新密码") }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form.password2.label(class="col-md-2 control-label") }}
                                <div class="col-md-8">
                                    {{ form.password2(class='form-control',placeholder="再次输入密码确认") }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button class="btn btn-primary col-md-1 col-md-offset-5" type="submit">提交</button>
                                    <button class="btn btn-default col-md-1" type="reset">重置</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}