{# 表扬列表页面 #}
{% extends 'user/base.html' %}
{% import 'macro.html' as mcr %}
{% block page_title %}
    <span class="navbar-page-title"> 情况列表 </span>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-toolbar clearfix">
                <form>
                    <div class="form-group">
                        <div class="row m-b-5">
                            <div class="col-md-4">
                                <select class="form-control" name="unit" id="unit">
                                    <option selected="selected" style='display: none' value=''>选择单位</option>
                                    {% for unit in units %}
                                        <option value="{{ unit['id'] }}">{{ unit['unitname'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <select class="form-control" name="category1" id="category1">
                                    <option selected="selected" style='display: none' value=''>选择一级分类</option>
                                    {% for category1 in category1s %}
                                        <option value="{{ category1['id'] }}">{{ category1['category'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row m-b-5">
                            <div class="col-md-4">
                                <select class="form-control" name="praise_level" id="praise_level">
                                    <option selected="selected" style='display: none' value=''>选择问题分级</option>
                                    {% for praise_level in praise_levels %}
                                        <option value="{{ praise_level['id'] }}">{{ praise_level['level_name'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="datefilter" class="form-control" placeholder=" 选择日期范围">
                            </div>
                            <div class="col-md-4">
                                <input class="btn btn-primary col-md-6" type="submit" value="查询">
                                <input class="btn btn-default col-md-6" type="reset"  value="重置">
                            </div>
                        </div>
                    </div>
                </form>
            </div>{# 块-工具栏 #}
            <div class="card-body">{# 块-主体 #}
                {% with messages = get_flashed_messages() %}
                    {%  if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <h1 align="center">检查情况汇总</h1>
                        <p align="right">共筛选出{{ paginate.total }}条数据</p>
                        <thead>
                            <tr>
                                <th>
                                    <label class="lyear-checkbox checkbox-primary">
                                        <input type="checkbox" id="check-all"><span></span>
                                    </label>
                                </th>
                                <th>序号</th>
                                <th>情况</th>
                                <th>单位</th>
                                <th>类型</th>
                                <th>级别</th>
                                <th>时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for con in paginate.items %}
                                {{ mcr.tr_praise_detail_user(loop.index,con.case,con.unit.unitname,con.category1.category,
                                con.praise_level.level_name,con.date,con.filepath,con.id) }}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>{# 表格内容 #}
                <div class="text-center">
                    <ul class="pagination">
                        <li>
                            {% if paginate.has_prev %}
                                <a href="{{ url_for('user.praise_detail', page=paginate.prev_num, unit=uid, category1=c1id, praise_level=plid) }}">«上一页</a>
                            {% else %}
                                <a class="disabled">«上一页</a>
                            {% endif %}
                        </li>
                        {% for i in paginate.iter_pages() %}
                            <li>
                                <a href="{{ url_for('user.praise_detail', page=i, unit=uid, category1=c1id, praise_level=plid) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            {% if paginate.has_next %}
                                <a href="{{ url_for('user.praise_detail',page=paginate.next_num, unit=uid, category1=c1id, praise_level=plid) }}">下一页»</a>
                            {% else %}
                                <a class="disabled">下一页»</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block js_ext %}
{% endblock %}