{# 信息填报页面 #}
{% extends 'admin/base_admin.html' %}
{% block style_ext %}
    <link rel="stylesheet" href="{{ url_for('static',filename='js/webuploader/webuploader.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/bulletin-board/uploader.css') }}">
{% endblock %}
{% block page_title %}
    <span class="navbar-page-title"> 情况填报 </span>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-header"><h4>填报信息</h4></div>
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                    {%  if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
{#                <form class="form-horizontal" action="#" method="post" enctype="multipart/form-data">#}
                <form class="form-horizontal" action="#" method="post">
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="unit">选择单位</label>
                        <div class="col-md-8">
                            <select class="form-control" name="unit" id="unit">
                                <option selected="selected" style='display: none' value=''>请选择（不能为空）</option>
                                {% for unit in units %}
                                    <option value="{{ unit['id'] }}">{{ unit['unit_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="praise_level">选择问题分级</label>
                        <div class="col-md-8">
                            <select class="form-control" name="praise_level" id="praise_level">
                                <option selected="selected" style='display: none' value=''>请选择（不能为空）</option>
                                {% for praise_level in praise_levels %}
                                    <option value="{{ praise_level['id'] }}">{{ praise_level['level_name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="category1">选择一级分类</label>
                        <div class="col-md-8">
                            <select class="form-control" name="category1" id="category1">
                                <option selected="selected" style='display: none' value=''>请选择（不能为空）</option>
                                {% for category1 in category1s %}
                                    <option value="{{ category1['id'] }}">{{ category1['category'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="date">选择日期</label>
                        <div class="col-md-8">
                            <input class="form-control js-datepicker m-b-10" type="text" id="date" name="date"
                                   placeholder="年-月-日（不能为空）" value="" data-date-format="yyyy-mm-dd">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="case">具体情况</label>
                        <div class="col-md-8">
                            <textarea class="form-control" id="case" name="case"
                                      rows="6" placeholder="内容......（不能为空）"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="uploader">图片上传</label>
                        <div id="uploader" class="col-md-8 example">
                            <input type="hidden" name="pics" value=""/>
                            <div class="queueList">
                                <div id="dndArea" class="placeholder">
                                    <div id="filePicker"></div>
                                    <p>或将照片拖到这里，单次最多上传3张</p>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active">0%</div>
                                </div>
                                <div class="info"></div>
                                <div class="btns">
                                    <div id="filePickerBtn"></div>
                                    <div class="uploadBtn">开始上传</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-primary col-md-1 col-md-offset-5" type="submit">提交</button>
                            <button class="btn btn-default col-md-1" type="reset">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
{% endblock %}
{% block js_ext %}
<script type="text/javascript" src=/js/webuploader/webuploader.min.js></script>
<script type="text/javascript" src="/js/bulletin-board/uploader.js"></script>
{% endblock %}