{# 信息填报页面 #}
{% extends 'base.html' %}
{% block page_title %}
    <span class="navbar-page-title"> 信息填报页面 </span>
{% endblock %}
{% block content %}
    <div class="container-fluid">

        <div class="card">
            <div class="card-header"><h4>填报信息</h4></div>
            <div class="card-body">

                <form class="form-horizontal" action="{{ url_for('user.add') }}" method="post">
                    <div class="form-group">
                        <label class="col-md-12" for="example-select">选择单位</label>
                        <div class="col-md-12">
                            <select class="form-control" name="unit" id="unit">
                                <option selected="selected" style='display: none' value=''>请选择</option>
                                {% for unit in units %}
                                    <option value="{{ unit['id'] }}">{{ unit['unitname'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-select">选择一级分类</label>
                        <div class="col-md-12">
                            <select class="form-control" name="category1" id="category1">
                                <option selected="selected" style='display: none' value=''>请选择</option>
                                {% for category1 in category1s %}
                                    <option value="{{ category1['id'] }}" onclick="changefield('category1','category2',
                                            '{{ url_for('user.changeselectfield') }}')">{{ category1['category'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-select">选择二级分类</label>
                        <div class="col-md-12">
                            <select class="form-control" name="category2" id="category2">
                                <option selected="selected" style='display: none' value=''>请选择</option>
                                {# 动态加载 #}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label class="col-md-12" for="example-select">选择日期范围</label>
                            <input type="text" name="datefilter" class="form-control" placeholder=" 选择日期范围">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12" for="example-textarea-input">具体问题</label>
                        <div class="col-md-12">
                            <textarea class="form-control" id="example-textarea-input" name="example-textarea-input" rows="6" placeholder="内容.."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">选择整改情况</label>
                        <div class="col-md-12">
                            <label class="radio-inline" for="example-inline-radio1">
                                <input type="radio" id="example-inline-radio1" name="example-inline-radios" value="option1">未整改
                            </label>
                            <label class="radio-inline" for="example-inline-radio2">
                                <input type="radio" id="example-inline-radio2" name="example-inline-radios" value="option2">已整改
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-primary col-md-1 col-md-offset-5" type="submit">提交</button>
                            <button class="btn btn-default col-md-1" type="reset">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>

    </div>
{% endblock %}
{% block js_ext %}
    <script>
        function changefield(choose,target,url) {
            var c1data;
            var select = document.getElementById(choose);
            $("#"+target).html('');//每次重新选择当前列表框，就清空下一级列表框。
            for (i = 0; i < select.length; i++) {
                if (select[i].selected) { //判断被选中项
                    c1id = select[i].value;
                    c1data = {
                        "c1id": c1id
                    };
                    $.ajax({//发起ajax请求
                        url : url,
                        type : "POST",
                        data : JSON.stringify(c1data),
                        contentType : "application/json; charset=UTF-8",
                        success : function (data) {
                            if(data){
                                $("<option selected='selected' disabled='disabled'  style='display: none' value=''>请选择二级分类</option>").appendTo("#"+target);
                                for(i=0;i<data.length;i++){
                                    $("<option value='"+data[i].id+"'>"+data[i].category+"</option>").appendTo("#"+target)
                                }
                            }else {
                                alert('error')
                            }
                        }
                    })
                }
            }
        }
        function greeting() {
            alert('yes')
        }
        {# 日期范围选择函数 #}
        $(document).ready(function(){
            // 输入最初为空
            $('input[name="datefilter"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: '清空'
                }
            });

            $('input[name="datefilter"]').on('apply.daterangepicker', function(ev, picker) {
                $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
            });

            $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

        });

    </script>
{% endblock %}