{% extends 'base.html' %}
{% import 'macro.html' as mcr %}
{% block page_title %}
    <span class="navbar-page-title"> 用户首页 </span>
{% endblock %}
{% block content %}
      <div class="container-fluid">

        <!--四个数据图板-->
        <div class="row">
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-primary">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">数据一</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">125</p>
                </div>
                <div class="pull-left">
                    <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-alert fa-1-5x"></i></span>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-danger">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">数据二</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">920,000</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-account fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-success">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">数据三</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">34,005,000</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-arrow-down-bold fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-lg-3">
            <div class="card bg-purple">
              <div class="card-body clearfix">
                <div class="pull-right">
                  <p class="h6 text-white m-t-0">数据四</p>
                  <p class="h3 text-white m-b-0 fa-1-5x">153 条</p>
                </div>
                <div class="pull-left"> <span class="img-avatar img-avatar-48 bg-translucent"><i class="mdi mdi-comment-outline fa-1-5x"></i></span> </div>
              </div>
            </div>
          </div>
        </div>

        <!--两个图表-->
        <div class="row">
          
          <div class="col-lg-6"> 
            <div class="card">
              <div class="card-header">
                <h4>柱形图</h4>
              </div>
              <div class="card-body">
                  <canvas id="myBarChart"></canvas>
              </div>
            </div>
          </div>
          
          <div class="col-lg-6"> 
            <div class="card">
              <div class="card-header">
                <h4>历史记录</h4>
              </div>
              <div class="card-body">
                <canvas id="myLineChart"></canvas>
              </div>
            </div>
          </div>
           
        </div>

        <!--一个表格-->
        <div class="row">
          
          <div class="col-lg-12">
            <div class="card">
              <div class="card-header">
                <h4>公示信息</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>项目名称</th>
                        <th>开始日期</th>
                        <th>截止日期</th>
                        <th>状态</th>
                        <th>进度</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{ mcr.tr_index(1,'测试','1','2','warning',28) }}
                      {{ mcr.tr_index(2,'测试','1','2',"success",38) }}
                      {{ mcr.tr_index(3,'测试','1','2',"primary",68) }}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
{% endblock %}
{% block js_ext %}
<!--图表插件-->
<script type="text/javascript" src=/js/Chart.js></script>
<script type="text/javascript">
$(document).ready(function() {
    $.get('/user/index/bar').done(function (results) {
        var labels = [], data=[];
        for(var result in results)
        {
            labels.push(results[result].label);
            data.push(results[result].data);
        }
        var ctx = document.getElementById("myBarChart");
        var myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '注册用户',
                    borderWidth: 1,
                    borderColor: 'rgba(0,0,0,0)',
                    backgroundColor: 'rgba(51,202,185,0.5)',
                    hoverBackgroundColor: "rgba(51,202,185,0.7)",
                    hoverBorderColor: "rgba(0,0,0,0)",
                    data: data
                }]
            }
        });
    });
    $.get('/user/index/line').done(function (results) {
        var labels = [], data=[];
        for(var result in results)
        {
            labels.push(results[result].label);
            data.push(results[result].data);
        }
        var ctx = document.getElementById("myLineChart");
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '注册用户',
                    borderColor: '#358ed7',
                    backgroundColor: 'rgba(53, 142, 215, 0.175)',
                    borderWidth: 1,
                    fill: false,
                    lineTension: 0.5,
                    data: data
                }]
            }
        });
    })
});
</script>
{% endblock %}