{# html代码中转站 #}
<div class="pull-right toolbar-btn-action">
  <a class="btn btn-primary m-r-5" data-toggle="modal" data-target="#myModal"><i class="mdi mdi-plus"></i> 新增</a>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">标题</h4>
      </div>
      <div class="modal-body">
        您的内容...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary">点击保存</button>
      </div>
    </div>
  </div>
</div>{# 模态框 #}
  <a class="btn btn-danger" href="#!"><i class="mdi mdi-window-close"></i> 删除</a>
</div>
