{#用户首页#}
{% extends 'user/base.html' %}
{% import 'macro.html' as mcr %}
{% block page_title %}
    <span class="navbar-page-title"> {{ current_user.unit.unitname }}首页 </span>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!--四个数据图板-->
        <div class="row">
            <div class="col-sm-6 col-lg-3" onclick="window.open('{{ url_for('user.inform') }}','_self')">
                <div class="card bg-primary">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h3 text-white m-b-0 fa-2x">通知</p>
                        </div>
                        <div class="pull-left">
                            <span class="img-avatar img-avatar-48 bg-translucent"><i
                                    class="mdi mdi-alert-circle-outline fa-2x"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3" onclick="window.open('{{ url_for('user.policy') }}','_self')">
                <div class="card bg-danger">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h3 text-white m-b-0 fa-2x">政策</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-shield fa-2x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3" onclick="window.open('{{ url_for('user.case') }}','_self')">
                <div class="card bg-success">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h3 text-white m-b-0 fa-2x">案例</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-bell-outline fa-2x"></i></span></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3" onclick="window.open('{{ url_for('user.video') }}','_self')">
                <div class="card bg-purple">
                    <div class="card-body clearfix">
                        <div class="pull-right">
                            <p class="h3 text-white m-b-0 fa-2x">视频</p>
                        </div>
                        <div class="pull-left"><span class="img-avatar img-avatar-48 bg-translucent"><i
                                class="mdi mdi-movie fa-2x"></i></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!--两个图表-->
        {#    <div class="row">#}
        {##}
        {#      <div class="col-lg-6">#}
        {#        <div class="card">#}
        {#          <div class="card-header">#}
        {#            <h4>柱形图</h4>#}
        {#          </div>#}
        {#          <div class="card-body">#}
        {#            <canvas class="js-chartjs-bars"></canvas>#}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}
        {##}
        {#      <div class="col-lg-6">#}
        {#        <div class="card">#}
        {#          <div class="card-header">#}
        {#            <h4>历史记录</h4>#}
        {#          </div>#}
        {#          <div class="card-body">#}
        {#            <canvas class="js-chartjs-lines"></canvas>#}
        {#          </div>#}
        {#        </div>#}
        {#      </div>#}
        {##}
        {#    </div>#}


        <div class="row">

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>公示信息</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>问题</th>
                                    <th>类型</th>
                                    <th>子类型</th>
                                    <th>时间</th>
                                    <th>整改状态</th>
                                    <th>整改时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for con in contents.items %}
                                    {{ mcr.tr_user_index(loop.index,con.problem,con.category1.category,
                        con.category2.category,con.date,con.modificationstate,con.modificationdate,con.id) }}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}
{% block js_ext %}
{#    <!--图表插件-->#}
{#    <script type="text/javascript" src=/js/Chart.js></script>#}
{#    <script type="text/javascript">#}
{#        $(document).ready(function (e) {#}
{#            var $dashChartBarsCnt = jQuery('.js-chartjs-bars')[0].getContext('2d'),#}
{#                $dashChartLinesCnt = jQuery('.js-chartjs-lines')[0].getContext('2d');#}
{##}
{#            var $dashChartBarsData = {#}
{#                labels: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],#}
{#                datasets: [#}
{#                    {#}
{#                        label: '注册用户',#}
{#                        borderWidth: 1,#}
{#                        borderColor: 'rgba(0,0,0,0)',#}
{#                        backgroundColor: 'rgba(51,202,185,0.5)',#}
{#                        hoverBackgroundColor: "rgba(51,202,185,0.7)",#}
{#                        hoverBorderColor: "rgba(0,0,0,0)",#}
{#                        data: [2500, 1500, 1200, 3200, 4800, 3500, 1500]#}
{#                    }#}
{#                ]#}
{#            };#}
{#            var $dashChartLinesData = {#}
{#                labels: ['2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014'],#}
{#                datasets: [#}
{#                    {#}
{#                        label: '交易资金',#}
{#                        data: [20, 25, 40, 30, 45, 40, 55, 40, 48, 40, 42, 50],#}
{#                        borderColor: '#358ed7',#}
{#                        backgroundColor: 'rgba(53, 142, 215, 0.175)',#}
{#                        borderWidth: 1,#}
{#                        fill: false,#}
{#                        lineTension: 0.5#}
{#                    }#}
{#                ]#}
{#            };#}
{##}
{#            new Chart($dashChartBarsCnt, {#}
{#                type: 'bar',#}
{#                data: $dashChartBarsData#}
{#            });#}
{##}
{#            var myLineChart = new Chart($dashChartLinesCnt, {#}
{#                type: 'line',#}
{#                data: $dashChartLinesData,#}
{#            });#}
{#        });#}
{#    </script>#}

{% endblock %}